button {
  outline: none;
  border: none; }

h1 {
  margin: 0; }

body {
  margin: 0; }

header {
  padding: 62px;
  background-color: #F1245F; }
  header * {
    color: white;
    text-align: center;
    margin: .2em 0;
    cursor: default;
    transition: all 1s;
    font-family: 'Stalemate' ,cursive;
    font-size: 8.875rem;
    font-weight: normal; }
