

body {
  font-family: 'Days One', sans-serif;
  margin: 50px 120px 32px;
  color: crimson;
}

h1, h2, h3 { font-weight: normal; }

.border {
  border: 6px solid crimson;
  border-radius: 10px;
}

h1 {
  border-radius: 10px;
  padding: 12px;
  margin: 10px;
  background-color: crimson;
  color: white;
}

article {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80vh;
  /* align-content: stretch; */
  /* align-content: center; */
  /* align-content: flex-end; */
  /* align-content: space-around; */
  align-content: flex-start;
}
