

body {
  font-family: 'Days One', sans-serif;
  margin: 50px 120px 32px;
  border-radius: 4px;
}

h1, h2, h3 { font-weight: normal; }

/* h1 {
  background-color: purple;
  width: max-content;
  color: white;
  padding: 12px;
  margin: 40vh auto 0;
} */

section {
  background-color: purple;
  border-radius: 6px;
  padding: 18px;
  /* display: flex; */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  justify-content: space-around;
}

div {
    background-color: hotpink;
    border-radius: 6px;
    height: 100px;
    width: 100px;
    margin: 8px;

}
