


body {
  font-family: 'Playfair Display', serif;
}

div, h1 {
  font-weight: normal;
  font-size: 42px;
  border-radius: 6px;
}

div#first {
   position: relative;
   background-color: #1974D2;
   /* width: 1400px; */
   width: 80%;
   height: 600px;
   margin: 0 auto;
}


div#second {
  background-color: #66ff00;
  width: 1000px;
  height: 400px;
  position: absolute;
  right: 0;
  bottom: 0;

}

h1 {
  background-color: #ffaa1c;
  color: #ff007f;
  width: max-content;
  padding: 12px 18px;
  margin: 0;
  /* position: relative;
  top: 250px;
  left: 450px; */
  position: absolute;
  /* top: 250px; /*begin from the bottom of div*/
  /* left: 450px; /*begin from the left of div*/
  right: 0;
  top: 0;
}
