/* html and :root are equal */
/* Animations take some resourses from browser */
:root {
  font-size: 20px;
}


button {
  width: max-content;
  display: block;
  margin: 150px auto;
  background-color: #E73F1D;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 2rem;
  /* depende on font-size */
  padding: .6em 2em;
  transition: all .5s;
  /* transition: all .8s ease-in-out; */
  transition-timing-function: cubic-bezier(.6,.36,.46,.94);
}

button:hover {
  background-color: #F05F38;
  font-size: 54px;
}
