
:root {
  font-size: 300%;
}

.center {
  font-family: 'Playfair display', serif;
  font-weight: normal;
  text-align: center;
  margin: 1rem;
}

@media (max-width: 1200px) { :root { font-size: 280%;} }
@media (max-width: 1000px) { :root { font-size: 260%;} }
@media (max-width: 800px) { :root { font-size: 240%;} }
@media (max-width: 600px) { :root { font-size: 220%;} }
/* nav, section, aside {
  border-radius: 12px;
  margin: 8px 0;
  background-color: #EB1D71;
}

nav {
  height: 71px;
}

section {
  display: inline-block;
  width: 64%;
  height: 1000px;
}

aside {
  width: 35%;
  height: 1000px;
  float: right;
} */
/* like if statement in java script */
/* body {
  background-color: blue;
} */
/* @media (max-width: 1200px) {
  section, aside {
    display: block;
    width: 100%;
    float: none;
    margin: 18px 0;
    height: 700px;
  }
} */
