




html {
  font-size: 200%;
}

body {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

h1, h2 {
  font-weight: normal;
  color: white;
  padding: .2em;
}

h1 {
  background-color: crimson;
  color: white;
  margin: 0;
}

h2 {
  background-color: #3F2267;
  color: white;
  width: max-content;
  padding-right: 200px;
  padding-left: 100px;

  position: relative;
  bottom: 40px; /*relative and (bottom top right left) are using togather */
  z-index: -2; /*to be under h1*/
  left: 120px;
}

.rise {
  position: relative;
  bottom: 102px;
}
