
h1 {
  margin: 0;
  font-family: sans-serif;
  background-color: crimson;
  text-align: center;
  color: white;
  /* 20 top 10 left,right 5 bottom */
  padding: 5px 5px 5px;
  /* display: inline-block; */
  color: blue;
  background-color: transparent;
  border-top: 2px solid;
  border: 6px solid crimson;
  border-radius: 15000px;
  margin: 10px 0;
  width: 400px;
  /* margin-right: 0 !important; */
  margin-left: auto;
  margin: 22px auto;
}
