

body {
  font-family: sans-serif;
}

h2 {
  text-align: center;
  margin: 92px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px 24px;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 16px auto;
}
