


$theme-primary: #F1245F;
$padding: 22px;

@function px-to-rem($size) {
  $value: $size / 16px;
  @return #{$value}rem;
}

@mixin button-reset($padding, $radius) {
  outline: none;
  border: none;
  padding: $padding;
  border-radius: $radius;
}

@mixin theme-invert{
  color: $theme-primary;
  background-color: white;
}

button {
  @include button-reset(12px 144px, 10000px);
  @include theme-invert;
  margin: 0 auto;
  display: block;
  width: max-content;
  font-family: 'Stalemate' ,cursive;
  font-size: 52px;
  transition: all .4s;
  &:hover {
    transform: scale(1.2);
  }
}


body { margin: 0; }

header {
   padding: 62px;
   background-color: $theme-primary;
   h1 {
     color: white;
     text-align: center;
     cursor: default;
     transition: all 1s;
     font: {
       family: 'Stalemate' ,cursive;
       size: px-to-rem(142px);
       weight: normal;
     }
   }
}
