


$theme-primary: #F1245F;
$padding: 22px;

@function px-to-rem($size) {
  $value: $size / 16px;
  @return #{$value}rem;
}




body {
  margin: 0;
}

header {
   padding: 62px;
   background-color: $theme-primary;
   * {
     color: white;
     text-align: center;
     margin: .2em 0;
     cursor: default;
     transition: all 1s;

     font: {
       family: 'Stalemate' ,cursive;
       size: px-to-rem(142px);
       weight: normal;
     }
   }
}

// $header-sizes: (8rem, 6rem, 5rem, 4rem, 3rem, 2.2rem);
//
// @for $i from 1 through length($header-sizes) {
//   h#{$i} {
//     font-size: nth($header-sizes, $i);
//   }
// }


$header-sizes: (
    h1: 14rem,
    h2: 6rem,
    h3: 5rem,
    h4: 4rem,
    h5: 3rem,
    h6: 2.2rem
);

@each $element, $size in $header-sizes {
  #{$element} {
    font-size: $size;
  }
}
