



body {
  margin: 0;
}

header {

  $bg-color: #F1245F;

  $align: center;

  $padding: 62px 12px;

  $rounded: true;

  $cursor: null;

  $animate: (transform, font-size, opacity);

  $header-sizes: (
    'h1': 102px,
    'h2': 102px,
    'h3': 78px
  );


   padding: $padding;
   overflow: hidden;
   background-color: $bg-color;
   h1 {
     color: white;
     text-align: $align;
     cursor: $cursor;
     transition: nth($animate,2) 1s; //nth() take two arguments, first list second index : font-size
     font: {
       family: 'Stalemate' ,cursive;
       size: map-get($header-sizes,'h1');
       weight: normal;
     }

     // & == h1
     &:hover {
       transform: scale(1.2);
     }
   }
 }
