html {
  font-size: 100%; }
  @media screen and (max-width: 1400px) {
    html {
      font-size: 86%; } }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 70%; } }
  @media screen and (max-width: 1000px) {
    html {
      font-size: 56%; } }
  @media screen and (max-width: 800px) {
    html {
      font-size: 40%; } }

body {
  margin: 0;
  background: #1539a3; }

header {
  padding: 62px;
  background-color: #1843BE; }
  header h1 {
    color: white;
    text-align: center;
    cursor: default;
    transition: all 1s;
    font-family: 'Stalemate' ,cursive;
    font-size: 8.875rem;
    font-weight: normal; }

h2 {
  background-color: white;
  color: #1843BE;
  padding: 22px 0;
  margin-top: 0;
  text-align: center;
  font-family: 'Stalemate' ,cursive;
  font-size: 102px;
  font-weight: normal; }
