


body, input, button {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 88px 120px 0;
}


h1 {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.btn {
  background-color: #CBCBCB;
  background-image: linear-gradient(to left, #315EEA, #2A5BF4);
  color: white;
  outline: none;
  font-size: 19px;
  padding: .8em 3em;
  border-radius: 4px;
  transition: all .2s;
  text-transform: uppercase;
}


.btn:hover { opacity: .8; }

.btn-danger {background-image: linear-gradient(to left, #E63131, #F42A2A);}



dialog {
  border: none;
  text-align: center;
  font-size: 1.2rem;
  background-color: #F5F5F5;
  padding: 2.6rem 6.6rem;
  border-left: 12px solid #315EEA;
}

dialog[open] {
  animation: slide-in ease .5s .35s;
  animation-fill-mode: both;
}

dialog::backdrop {
  background-color: rgba(29, 29, 29, .94)
}

dialog[open]::backdrop {
  animation: fade-in .3s;
  animation-fill-mode: both;
}


@keyframes fade-in {
  from {opacity: 0; }
  to { opacity: 1; }
}


@keyframes slide-in {
  from { transform: translate(-100vw);}
  to { transform: translate(0);}
}
