html { font-size: 150%; }

body, button, input, select{
    font-family: 'Oswald', sans-serif;
}

body { margin: 80px 160px 0; }
h1 {
  cursor: default;
  user-select: none;
}

input, select{
  padding: 14px;
  padding-right: 360px;
  border: 1px solid rgba(45,45,45,.3);
  font-size: 32px;
  height: 58px;
  box-sizing: content-box;
}

.blue {color: blue; }
.violet {color: darkviolet; }
.pink {color: deeppink;}
